<h1>New Vacation</h1>

<%= render 'form', vacation: @vacation %>
	<% if @vacation.errors.any? %>
		<ul>
		<% @vacation.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
	<% end %>
<%= link_to 'Back', vacations_path %>
