<h3> Vacation management application</h3>
<h3> Rules </h3>
<h4> Manager Sign-up & log in to schedule the workers vacations upon request </h4>
<h4>Vacation has a start & end date</h4>
<h4> Vacations can't be more than 30 days per time</h4>
<h4> Vacations can't be more than 30 days in a year</h4>
<%= link_to 'Back', vacations_path %>


