<h2>Vacation Request</h2>

<p>
  <%= @greeting %>
</p>
<p>

A Vacation request was placed

by <%= @vacation.worker_email %> <br>
Duration: From <%= @vacation.start_date %> To <%= @vacation.end_date %>
</p>